:root {
    --primary-color: #055a05;
    /* forest green*/
    --secondary-color: #f4a261;
    /* wawrm sand*/
    --accent1-color: #264653;
    /* dark slate blue*/
    --accent2-color: #e9c46a;
    /* light golden yellow */
    --heading-font: "Times New Roman" 'Georgia', serif;
    --body-font: 'Arial', Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===========================
   Body Styling
   =========================== */
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

/* ===========================
   Page Width & Centering
   =========================== */
header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

/* ===========================
   Headings
   =========================== */
h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

img {
    width: 150px;
    height: auto;
    border: 1px var(--dark-color);
    padding: var(--padding-small);
    box-shadow: 0 0 30px gray;
}

header ul {
    list-style: none;
    /* removes bullets */
    padding: 0;
    text-align: left;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

/* ===========================
   Hero Section
   =========================== */
.hero {
    position: relative;
    /* allows absolute positioning of children */
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

/* ===========================
   Hero Heading Overlay
   =========================== */
.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;

}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 12px;
    border-radius: 8px;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 12px;
    border: 2px solid var(--primary-color);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}